# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/**
./broadcast/*/31337/
./broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
PRIVATE_KEY=0x8f672fab4b02315b530468376fc2d1efc7a2178be8b0eac5394ff8e18f299343 

